src/core/export/schema.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="rows">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="head">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="column" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="key" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                        <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="body">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="row" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="name" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="first" type="xsd:string" minOccurs="1"
                                                                 maxOccurs="1"/>
                                                    <xsd:element name="last" type="xsd:string" minOccurs="1"
                                                                 maxOccurs="1"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="gender" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element name="birthday" type="xsd:date" minOccurs="0" maxOccurs="1"/>
                                        <xsd:element name="contact" minOccurs="0" maxOccurs="1">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="address" minOccurs="0" maxOccurs="1">
                                                        <xsd:complexType>
                                                            <xsd:sequence>
                                                                <xsd:element name="street" type="xsd:string"
                                                                             minOccurs="0" maxOccurs="1"/>
                                                                <xsd:element name="zip" type="xsd:string" minOccurs="0"
                                                                             maxOccurs="1"/>
                                                                <xsd:element name="city" type="xsd:string" minOccurs="0"
                                                                             maxOccurs="1"/>
                                                                <xsd:element name="state" type="xsd:string"
                                                                             minOccurs="0" maxOccurs="1"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element name="email" type="xsd:string" minOccurs="0"
                                                                 maxOccurs="unbounded"/>
                                                    <xsd:element name="region" type="xsd:string" minOccurs="0"
                                                                 maxOccurs="unbounded"/>
                                                    <xsd:element name="phone" type="xsd:string" minOccurs="0"
                                                                 maxOccurs="unbounded"/>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="likes" type="xsd:string" minOccurs="0"
                                                     maxOccurs="unbounded"/>
                                        <xsd:element name="memberSince" minOccurs="0" maxOccurs="1" type="xsd:date"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
